$preto: #000;
$branco: #FFFFFF;
$azul: #002C5E;
$bordaBarra: #aaa;
$verde : #008000;
$corBody: rgb(54, 54, 54);
$vermelho: #ff0000;
$amarelo: #ffff00;
$laranja: #ff5100;
$verdeC: #00ffaa;
$playerColor: #4253afaa;
$monsterColor: #e51c23aa;
$fontCorpo: 'Poppins', sans-serif;